<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Plot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Data Plot</h1>
    <div id="plotly-plot">{{ plot_html | safe }}</div>
    <br>
    <a href="{{ url_for('index') }}">Back to Search</a>
    <a href="{{ url_for('export_csv', box_id=box_id, timestamp_str=timestamp_str) }}">Export to CSV</a>
</body>
</html>
